:root {
    --orange-200: #FF6624;

    --gray-100: #D9D9D9;

    --blue-100: #9195F6;
    --blue-200: #555790;

    --white: #ffffff;

    --green-200: #00712D;

    --red-200: #F5004F;



  }
  
  :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--blue-100);
    color: black;
    -webkit-font-smoothing: antialiased;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }